@import '../variables/_colors.styl'
@import '../variables/_sizes.styl'
@import '../mixins/_rem.styl'
@import '../mixins/_media.styl'

.heading
  &--clear
    margin-top: 0
    margin-bottom: 0
    font-weight: 400
